/*
Theme Name:Responsive Child
Theme URI: http://themeid.com/responsive-theme/ 
Description: Responsive Theme is a flexible foundation with fluid grid system that adapts your website to any mobile devices and the desktop or any other viewing environment. Theme features 9 Page Templates, 10 Widget Areas, 6 Template Layouts, 4 Menu Positions and more. Powerful but simple Theme Options for full CMS control. Easy Logo Upload, Social Networking and Webmaster Tools. Responsive is WooCommerce Compatible, Multilingual Ready (WPML) and currently translated into 27 languages. Cross-Browser compatible and yes even the IE7. No memberships or clubs to get a FREE/Responsive Support you need. http://themeid.com/support
Version: 1.7.7
Author: ThemeID 
Author URI: http://themeid.com
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready

Template:responsive
*/
@import url("../responsive/style.css");  
/*body bg*/
body {
    background:url("img/bg_main.jpg") repeat scroll left top transparent;
}

/*home-widget*/
div.home-widget div.widget_text{
  height:150px;
}
/*widget-wrapper*/
div.widget-wrapper ul{
  list-style:none;
}

div.widget-title{
  padding:0px;
}

div.widget-wrapper form#searchform{
  margin:10px 0px;
}

div.widget-wrapper ul{
  margin:10px 0px;
  padding:0px;
  list-style:none;
}

 div.widget-wrapper ul li{
  margin:0px;
  padding:0px;
 }

  div#pintrest{
    display:inline-block;
    margin:0 10px 0 0;
    float:left;
  }

  @media screen and (max-width: 360px){
    div.fb-comment{
      display:none;
    }
  }
